 body{
  background-color: rgb(244,247,251);
}
/*
.containerGrid{
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header"
  "content content content"
  "footer footer footer";
}

.annoucement{
  grid-area:content;
}

.minWidth{
  display:none;
}
.navbar{
  grid-area:header;
}

@media only screen and (max-width:600px){
  .containerGrid{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "content content content"
    "advert content content"
    "footer footer footer";
  }
  
  .navbar{
    grid-area:header;
  }
  .annoucement{
    grid-area:content;
  }
  .discover{
    grid-area:advert;
    
  }
  .minWidth{
    grid-area:footer;
  }
} */