.media {
  height: 0;
  padding-top: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode:darken;
  }
  .card:hover .media{
    background-color: rgb(1, 179, 238);
    background-blend-mode: multiply;
  }
  .discriptin{
    position: relative;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgba(255, 255, 255, 0);
  }
  .bottom-left{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color:rgb(255, 255, 255);
    background-color:rgb(1, 179, 238);
    padding: 1rem;
  }

  .card:hover .discriptin .centered{
    color: rgb(255, 255, 255);
  }
 
  .fullHeightCard {
    height: 100%;
  }
  .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  height: 100%;
  position: relative;
  cursor: pointer;
  }
    
    
  .overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  background-color: rgb(215,232,243);
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: auto;
  }
  .icon{
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin: auto; 
    color: rgb(20, 20, 20);
  }
    
  .title {
  padding: 15px 10px;
  font-size:5px;
  }
 
  .cardActions {
  /* padding: 0 16px 8px 16px; */
  display: flex;
  justify-content: flex-end;
  
  }
.cardButton{
font-size:16px;
font-weight: bold;
color:rgb(1, 179, 238);
}
  
