

.cataguro{
  flex: 1;
  margin: 10px 10px 10px 40px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

@media all and(max-width:500px) {
  
.cataguro{
  flex: 1;
  margin: 10px 10px 10px 40px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
}