.cataguro{
  flex: 1;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  padding: 5px;
  justify-content: space-between;
}

@media (max-width:500px) {
.cataguro{
width:10px;
  flex: 1;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  padding: 5px;
  justify-content: space-between;
  z-index: 999;
}
}