.cataguro{
  display: flex;
  flex: 1;
 flex-direction: column;
  padding: 5px;
  align-items: center;
justify-content: center;
}

@media (max-width:500px) {
.cataguro{
width:10px;
  flex: 1;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  padding: 5px;
  align-items: center;
justify-content: center;
  z-index: 999;
}
}